<template>
    <main-layout>
        <p>About page</p>
    </main-layout>
</template>
<script>
    import MainLayout from "../layouts/MainLayout.vue"

    export default {
        components: {MainLayout}
    }
</script>