<template>
    <main-layout>
        <p>404</p>
    </main-layout>
</template>

<script>
    import MainLayout from '../layouts/MainLayout.vue'

    export default {
        components: {MainLayout}
    }
</script>

<style scoped>

</style>