<template>
    <a v-bind:href="url" class="nav-link"><span class="md-list-item-text"><slot></slot></span></a>
</template>

<script>
    export default {
        props: {
            url: String
        }
    }
</script>

<style scoped>

</style>