<template>
    <div class="page-container">
        <md-app>
            <md-app-toolbar class="md-primary">
                <span class="md-title">Заметки</span>
            </md-app-toolbar>

            <md-app-drawer md-permanent="full">
                <md-toolbar class="md-transparent" md-elevation="0">
                    Меню
                </md-toolbar>

                <md-list>
                    <md-list-item>
                        <md-icon>home</md-icon>
                        <navigation-link url="/">Главная</navigation-link>
                    </md-list-item>

                    <md-list-item>
                        <md-icon>person</md-icon>
                        <navigation-link url="/about">Обо мне</navigation-link>
                    </md-list-item>
                </md-list>
            </md-app-drawer>

            <md-app-content>
                <slot></slot>
            </md-app-content>
        </md-app>
    </div>
</template>

<style lang="scss" scoped>
    .md-app {
        max-height: 400px;
        border: 1px solid rgba(#000, .12);
    }

    // Demo purposes only
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
</style>

<script>
    import NavigationLink from '../components/NavigationLink.vue'
    export default {
        components: {
            NavigationLink
        }
    }
</script>